# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Audio files
downloads/
*.mp3
*.wav
*.ogg

# Transcripts
transcripts/

# Progress files
progress/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log 
.env.docker

# Large binary files
modules/core/tools/ffmpeg
modules/core/tools/ffprobe

transcribe_progress.txt